.nav_link, .btn {
    color: black !important;
    transition:transform 0.25s;
    will-change: transform;
    &_active {
        background-color: #fcdb00 !important;
    }
}

.btn {
    background-color: #fcdb00 !important;
    border: none;
    width: 100%;
}

.nav_link:hover,.btn:hover {
    transform: translateY(-5px);
}

@media screen and (max-device-width: 480px) {
    .logo {
        display: none;
    }

    .nav_link {
        font-size: 16px;
    }
}

