$color : #fcdb00;
$border-color: black;
$x1: 30px;
$x2: calc($x1 * 130 / 60);
$x3: calc($x1 * 2);
$x4: calc($x1 * 40 / 60);
$x5: calc($x1 * 125 / 60);


.circle_border {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin: 0 auto;
}

.item {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  cursor: pointer;

  background: none;
  border: 0;
  box-sizing: border-box;
  
  // Using inset box-shadow instead of border for sizing simplicity
  border-radius: 100%;
  font-size: inherit;
  font-weight: 700;

  // Required, since we're setting absolute on pseudo-elements
  position: relative;
  vertical-align: middle;

  &::before,
  &::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
  
  &:hover {
    color: $border-color;
  }

  &::before,
  &::after {
    top: 0;
    left: 0;
  }

  &::before {
    border: 2px solid transparent; // We're animating border-color again
  }

  &:hover::before {
    border-top-color: $border-color; // Show borders
    border-right-color: $border-color;
    border-bottom-color: $border-color;

    transition:
      border-top-color 0.1s linear, // Stagger border appearances
      border-right-color 0.1s linear 0.05s,
      border-bottom-color 0.1s linear 0.1s;
  }

  &::after {
    border: 0 solid transparent; // Makes border thinner at the edges? I forgot what I was doing
  }

  &:hover::after {
    border-top: 2px solid $border-color; // Shows border
    border-left-width: 2px; // Solid edges, invisible borders
    border-right-width: 2px; // Solid edges, invisible borders
    transform: rotate(270deg); // Rotate around circle
    transition:
      transform 0.2s linear 0s,
      border-left-width 0s linear 0.15s; // Solid edge post-rotation
  }
  &_prev {
    opacity: 0.5;
  }
  &_selected::after {
    border: 2px solid black;
  }
}

@media screen and (max-device-width: 480px) {
  $x1: 15px;
  .item, .circle-border {
      width: 30px;
      height: 30px;
  }

  .item {
    border: none;
    &::before,&::after,&:hover::after {
      border: none
    }
    &_text {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &_selected {
      color: white !important;
      background-color: black;
    }
  }
}